@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html {
  height: 100%;
}

body {
  font-family: monospace, monospace;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: column;
}

body > * {
  flex: 1 0 auto;
}

footer {
  display: block;
  flex-shrink: 0;
  margin-top: auto;
}

.projects-container{
  height: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 30px 0;
}

td {
  padding: 3px 0;
}

.navTab {
  padding: 6px;
  border-radius: 0.5rem;
  color: rgb(155, 155, 155);
  background-color: rgba(76, 76, 76, 0.5);
  border: 2px solid rgba(127, 127, 127, 0.84);
}

.navTab:hover {
  color: whitesmoke;
  background-color: rgba(110, 110, 110, 0.5);
  border: 2px solid rgba(206, 206, 206, 0.84);
  box-shadow: 2px 2px 5px #000000;
  text-shadow: 2px 2px 3px #000000;

}

.activeTab {
  height: auto;
  color: rgba(245, 245, 245, 0.864);
  background-color: rgba(110, 110, 110, 0.5);
  border: 2px solid rgba(206, 206, 206, 0.84);
  box-shadow: 2px 2px 2.5px #000000;
}